@charset "ISO-8859-1";

footer {
    background-color: #eeeff1;
  }
  
  .container1 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }

  .container1 a {
    color: #ffffff;
    font-size: 8px;
    padding: 2px 10px;
    margin-left: 10px;
    background-color: #3b52fe;
    border-radius: 10px;
  }
  
  .section1 {
    margin-left: 10px;
  }
  
  .section2 {
    margin-right: 10px;
  }
  
  .container2 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#fff;
  }
  
  .section3 {
    margin-left: 10px;
    float: left;
    width: 20%;
  }
  
  .section4 {
    padding-top: 20px;
    margin-left: 10px;
    float: right;
    width: 20%;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  
  .section5 {
    display:inline-table;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .section6 {
    padding-top : 5px;
    padding-bottom: 5px;
    font-size: 10px;
    text-align: center;
  }
